.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  background-color: black;
}

.SideDrawer.Open {
  transform: translateX(0);
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.Logo {
  height: 11%;
  text-align: center;
}
/*.SideDrawerOpen {*/
/*  position: fixed;*/
/*  width: 280px;*/
/*  max-width: 70%;*/
/*  height: 100%;*/
/*  left: 0;*/
/*  top: 0;*/
/*  z-index: 200;*/
/*  padding: 32px 16px;*/
/*  box-sizing: border-box;*/
/*  background-color: red;*/
/*  transform: translateX(0);*/
/*  transition: all 0.3s ease-out;*/
/*}*/
